.footer {
  padding: 140px 0px 32px;
}
.footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 116px;
}
.footer__title {
  max-width: 256px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211f54;
  margin-bottom: 7px;
}
.footer__text {
  max-width: 304px;
  color: #6e7191;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 18px;
}
.footer__h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #211f54;
  margin-bottom: 10px;
}
.h3 {
  margin-bottom: 30px !important;
}
.footer__tel {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #0075ff;
  margin-bottom: 6px;
}
.footer__btn {
  padding: 26px 30px;
  background-color: #0075ff;
  border-radius: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6e7191;
}
.footer__strong {
  text-decoration: underline;
  color: #0075ff;
}
@media (max-width: 1200px) {
  .footer__info {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__bottom {
    flex-wrap: wrap;
    gap: 20px;
  }
}
